body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px; /* Adjust the width as desired */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-top: 0;
  }
  
  h2 {
    color: #666;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .section-content {
    font-size: 16px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .highlight {
    font-weight: bold;
  }
  
  /* Orange color decoration */
  .section-title,
  h1,
  h2 {
    color: #FF6600;
  }
  
  .section-content a {
    color: #FF6600;
    text-decoration: none;
  }
  
  .section-content a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 600px) {
    .container {
      max-width: 400px; /* Adjust the width as desired */
    }
  }
  